.node-status-panel {
  min-width: 200px;
  background: #ccc;
  padding: 5px;
  padding-right: 20px;
  border: solid 1px black;
  float: left;
}

/* src/App.css */
.app {
  display: grid;
  grid-template-areas:
    "content"
    "footer";
  grid-template-rows: 1fr auto; /* Основной контент занимает все доступное пространство, боковая панель занимает только необходимое */
  gap: 20px; /* Отступ между основным контентом и боковой панелью */
  height: 100vh; /* Высота страницы равна высоте окна просмотра */
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr auto; /* Основной контент занимает все доступное пространство, боковая панель занимает только необходимое */
  gap: 20px; /* Отступ между основным контентом и боковой панелью */
}

.main-content {
  min-width: 700px;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar {
  background-color: #e0e0e0;
  width: 700px; /* Фиксированная ширина боковой панели */
}

.footer {
  grid-area: footer;
  background-color: #212529;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .app {
    grid-template-columns: 1fr; /* Одна колонка на мобильных устройствах */
  }

  .sidebar {
    width: 100%; /* Боковая панель занимает всю ширину на мобильных устройствах */
  }
}

.tabs-container {
  width: 700px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.tabs {
  display: flex;
  background-color: #f1f1f1;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-right: 1px solid #ccc;
}

.tab:last-child {
  border-right: none;
}

.tab.active {
  background-color: #ddd;
}

.tab-content {
  padding: 20px;
  background-color: #fff;
}